<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lịch phòng thí nghiệm</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <!--<script src="https://cdn.jsdelivr.net/momentjs/2.29.1/moment.min.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/base2.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div th:replace="headernew::header"></div>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" >
                    <div class="form-group choose-datetime">
                        <!--<div class="form-control div-icon" style="margin: auto">
                            <i class="fa fa-angle-double-left"></i>
                        </div>-->
                        <label for="date" style="color: black; padding: 10px; font-weight: bold;font-size: 2em;">Chọn ngày:</label>
                        <input type="date" id="date" class="form-control" style="max-width: 20em">
                        <!--<div class="form-control" style="margin: auto">
                            <i class="fa fa-angle-double-right "></i>
                        </div>-->
                    </div>
                    <div class="alert bg-danger-subtle" id="next-day">
                        <div style="margin: auto" class="alert bg-danger-subtle">
                            <span class="text-status text-danger-emphasis" >Mời chọn từ ngày tiếp theo</span>
                        </div>
                    </div>
                    <!--<button type="submit" class="btn btn-primary">Đặt lịch</button>-->
                    <div class="choose-room d-flex justify-content-around align-content-center">
                        <div class="col-3" th:each="lab : ${labDTOS}" style="border-radius:1em 1em 65px 65px">
                            <div class="card lab-card" style="border-radius:50px" >
                                <div style="background-color: #007bff">
                                    <div class="card-header justify-content-center" th:text="${lab.getLabName}"></div>
                                    <div>
                                        <button th:data="${lab.getId}" type="button" class="btn btn-success btn-booking" style="border: black thin;">Đặt phòng</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="lab-info text-primary"> Người phụ trách: </p>
                                    <p class="lab-info" th:text="${lab.getLab_managemet.getRank + ' ' + lab.getLab_managemet.getName}"></p>
                                    <div>
                                        <span class="lab-info text-primary">Liên hệ:</span>
                                        <span class="lab-info" th:text="${lab.getLab_managemet.getContact}"></span>
                                    </div>
                                    <br>
                                    <div>
                                        <style>
                                            .alert{color: black; font-weight: bold; display: none; cursor: pointer} .text-status{color: white}
                                        </style>
                                        <div class="alert bg-yellow" th:value="${lab.getId}" role="alert">
                                            <span>🕓</span>
                                            <span class="text-status">Đang chờ duyệt</span>
                                        </div>
                                        <div class="alert bg-green" th:value="${lab.getId}" role="alert">
                                            <span class="lnr-checkmark-circle"></span>
                                            <span class="text-status">Đã được đặt</span>
                                        </div>
                                        <div class="alert bg-danger" th:value="${lab.getId}" role="alert">
                                            <span class="fa">❌</span>
                                            <span class="text-status">Bị từ chối</span>
                                        </div>
                                        <div class="alert bg-primary" th:value="${lab.getId}" role="alert">
                                            <span class="fa fa-plus-circle"></span>
                                            <span class="text-status">Chọn ngay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<br>
<br>
<br>
<script th:inline="javascript">
    $(document).ready(function() {
        var username = [[${#authentication.name}]];
        var dateAndStatusLabsList = [[${dateAndStatusLabsList}]];
        var currentDate = [[${currentDate}]];
        Nextday(currentDate);
        setIndex(username,dateAndStatusLabsList, currentDate);
        /**
         * đặt $('.alert-link').click ở sau setIndex thì mới chạy
         * */
        $('.alert-link').click(function () {
            var dateValue = $("#date").val();
            var labId = $(this).attr('value');
            window.location.href = "/Lab/LabDetail/" + labId + "?date=" + (dateValue) + "&username=" + encodeURIComponent(username);
        });
    });
</script>
<script src="js/index.js"></script>
</body>
</html>

