<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lịch phòng thí nghiệm</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
<div th:replace="headernew::header"></div>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" >
                    <div class="form-group choose-datetime">
                        <label for="date" style="color: black; padding: 10px; font-weight: bold;font-size: 2em;">Chọn ngày:</label>
                        <input type="date" id="date" class="form-control" style="max-width: 20em">
                    </div>
                    <button type="submit" class="btn btn-primary">Đặt lịch</button>
                    <div class="choose-room d-flex justify-content-around align-content-center">
                        <div class="col-3" th:each="lab : ${labDTOS}" style="border-radius:1em 1em 65px 65px">
                            <div class="card lab-card" style="border-radius:50px" >
                                <div style="background-color: #007bff">
                                    <div class="card-header" th:text="${lab.getLabName}"></div>
                                    <div>
                                        <a th:href="'/Lab/LabDetail/'+${lab.getId}">
                                            <button type="button" class="btn btn-primary" style="border: black thin;">xem chi tiết phòng</button>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="lab-info"> Người phụ trách: </p>
                                    <strong>
                                        <p class="lab-info" th:text="${lab.getLab_managemet.getRank + ' ' + lab.getLab_managemet.getName}"></p>
                                    </strong>
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label >Ca sáng:</label>
                                            <div>
                                                <span class="icon-checkzzz casangV" style="display: none"> ✅ </span>
                                                <span class="icon-checkzzz casangX" style="display: block"> ❌ </span>
                                                <span class="icon-checkzzz casangO" style="display: none"> 🕓 </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-6">
                                            <label > Ca chiều:</label>
                                            <div>
                                                <span class="icon-checkzzz cachieuV" style="display: none"> ✅ </span>
                                                <span class="icon-checkzzz cachieuX" style="display: block"> ❌ </span>
                                                <span class="icon-checkzzz cachieuO" style="display: none"> 🕓 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<br>
<br>
<br>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#date').change(function() {
            const selectedDate = $(this).val();
            console.log(selectedDate);

            var roomDTOS = [[${roomDTOS}]];
            // var roomDTOS = JSON.parse('${roomDTOS}');
            var casang = $('#ca_sang');
            var caChieu = $('#ca_chieu');
            for (var i = 0; i < roomDTOS.length; i++) {
            console.log('roomDTOS: '+i);
                // if(roomDTOS[i].datebookings.length)
                for (var j = 0; j < roomDTOS[i].datebookings.length; j++) {
                    // roomDTOS[i].Datebookings[j]
                    console.log('roomDTOS[i].Datebookings[j]: '+j);
                    if (selectedDate === roomDTOS[i].datebookings[j]) {
                        console.log('selectedDate matches datebookings[' + j + ']');

                    }else {

                    }
                }
            }
        });


    });



</script>
</body>
</html>

