/*Body*/

body {
    background: url("../images/login_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    backdrop-filter: blur(5px); /* Áp dụng hiệu ứng mờ */
    -webkit-backdrop-filter: blur(5px); /* Áp dụng hiệu ứng mờ (Safari) */
}

body,
p {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
}

.nav-style-megamenu > li.nav-item .nav-link {
    color: #000e3c;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
}
.big-banner:hover {
    animation: blink 1s infinite;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #b5a1ce #b1c8ec;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #b1c8ec;
}

*::-webkit-scrollbar-thumb {
    background-color: #b5a1ce;
    border-radius: 15px;
    border: 2px groove #cc8ad0;
}
.quick-link {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
}

.quick-link a {
    color: #000;
    margin-left: 230px;
    text-decoration: none;
}

/* Điều chỉnh CSS dựa trên kích thước màn hình */
@media screen and (max-width: 768px) {
    .quick-link {
        padding: 5px;
    }

    .quick-link a {
        margin-left: 150px;
    }
}

@media screen and (max-width: 480px) {
    .quick-link {
        padding: 2px;
    }

    .quick-link a {
        margin-left: 50px;
    }
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 5%;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        display: none;
    }
}
header{
    background-color: transparent;
}