<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết phòng thí nghiệm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/base2.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .machine-block{border:1px solid #ccc;border-radius:8px;padding:20px;background-color:#f5f5f5;box-shadow:0 2px 4px rgba(0,0,0,0.1);transition:box-shadow 0.3s ease}
        .machine-block:hover{box-shadow:0 4px 8px rgba(0,15,255,0.6)}
        .machine-block h4{font-size:18px;font-weight:bold;margin-bottom:10px}
        .machine-block p{margin-bottom:5px}
        .machine-block ul{margin-top:10px;padding-left:20px}
        .machine-block ul li{list-style-type:square;}
        .machine-block img {max-width: 100%;max-height: 100%;}
        .remove-button{padding: unset; border: unset; font-weight: bold; margin-bottom: 10px}
        .remove-button:hover{color: red}
        label{color: black; font-weight: bold;}
    </style>
</head>
<body>
<div th:replace="headernew::header"></div>
<booking-detail>
    <!--<div th:replace="headernew::header"></div>-->
    <h1 style="margin-top: 50px; text-align: center;">CHI TIẾT ĐẶT PHÒNG THÍ NGHIỆM</h1><br>
    <div style="background-color: rgba(230,239,255,0.6); padding: 2em; border-radius: 3em;" class="container">
    <div th:replace="admin/add-nocite.html :: notice"></div>
    <div th:replace="admin/add-nocite.html :: noticeUnSuccess"></div>
        <form th:object="${bookingDTO}" th:action="@{'/Lab/myBookingDetail/' + ${bookingDTO.getId}}" method="post" enctype="multipart/form-data">
            <div class="row justify-content-around p-2">
                <div class="form-group col-5" >
                    <div class="form-group">
                        <label for="name">Tên đồ án, BTL, Luận văn, Luận án... :</label>
                        <input type="text" class="form-control bg-danger-subtle" id="name"
                               th:value="${bookingDTO.getContentDTO.getName}" name="name" required >
                    </div>
                    <div class="form-group">
                        <label for="experiment_group">Chọn nhóm loại hình thí nghiệm:</label>
                        <select class="form-control bg-danger-subtle" id="experiment_group"
                                th:data="${bookingDTO.getContentDTO.getExperimentGroup.getId}" name="experiment_group" required>
                            <option th:each="experimentGroup : ${experimentGroups}" th:value="${experimentGroup.getId}"
                                    th:text="${experimentGroup.getGroupName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="experiment_type">Chọn loại hình thí nghiệm:</label>
                        <select class="form-control bg-danger-subtle" id="experiment_type"
                                th:data="${bookingDTO.getContentDTO.getExperimentType.getId}" name="experiment_type" required>
                            <option th:each="experimentType : ${experimentTypes}" th:value="${experimentType.getId}"
                                    th:text="${experimentType.getTypeName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="experiment_report">Chọn loại báo cáo:</label>
                        <select class="form-control bg-danger-subtle" id="experiment_report"
                                th:data="${bookingDTO.getContentDTO.getExperimentReport.getId}" name="experiment_report" required>
                            <option th:each="experimentReport : ${experimentReports}" th:value="${experimentReport.getId}"
                                    th:text="${experimentReport.getReportType}"></option>
                        </select>
                    </div>

                </div>
                <div class="form-group col-5" >
                    <div class="form-group">
                        <label for="reservationist">Người phụ trách:</label>
                        <select class="form-control bg-danger-subtle" id="reservationist"
                                th:data="${bookingDTO.getContentDTO.getReservationist.getId}" name="reservationist" required>
                            <option th:each="reservationist : ${reservationists}" th:value="${reservationist.getId}"
                                    th:text="${reservationist.getName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="class_name">Tên Lớp hoặc tên nhóm thực hiện :</label>
                        <input type="text" class="form-control bg-danger-subtle" id="class_name"
                               th:value="${bookingDTO.getContentDTO.getClassName}" name="class_name" required >
                    </div>
                    <div class="form-group">
                        <label for="amount_of_people">Số lượng người tham gia :</label>
                        <input type="number" class="form-control bg-danger-subtle" id="amount_of_people"
                               name="amount_of_people" min="1" th:max="${bookingDTO.labDTO.getCapacity}"
                               th:value="${bookingDTO.getContentDTO.amountOfPeople}" required >
                    </div>
                </div>
            </div>
            <div class="row justify-content-around p-2">
                <div class="form-group col-5" >
                    <input type="hidden" name="id" th:field="*{labDTO.id}" />
                    <div class="form-group">
                        <label for="LabName">Tên phòng thí nghiệm:</label>
                        <input type="text" class="form-control text-bg-success" id="LabName" name="labName"
                               disabled="true" th:field="*{labDTO.labName}" required >
                    </div>

                    <div class="form-group">
                        <label for="Capacity">Sức chứa:</label>
                        <input type="text" class="form-control text-bg-success" id="Capacity" name="capacity"
                               disabled="true" th:field="*{labDTO.capacity}" required >
                    </div>

                    <div class="form-group">
                        <label for="Location">Vị trí:</label>
                        <input type="text" class="form-control text-bg-success" id="Location" name="location"
                               disabled="true" th:field="*{labDTO.location}" required >
                    </div>

                    <div class="form-group">
                        <label for="Manager">Phụ trách quản lý:</label>
                        <input type="text" class="form-control text-bg-success" id="Manager" name="lab_managemet_id"
                               disabled="true" th:value="${bookingDTO.labDTO.getLab_managemet.getName}" required >
                    </div>
                </div>
                <div class="form-group col-5">
                    <div class="main-card mb-3 card" id="chosseSeries">
                        <div class="card-body">
                            <h5 class="card-title">Chọn thiết bị sẽ sử dụng </h5>
                            <select multiple="multiple" class="multiselect-dropdown form-control"
                                    id="series" name="series" >
                                <th:block th:each="equipment, iterStat : ${equipmentLabDTOs}">
                                    <optgroup th:label="${equipment.getName}">
                                        <th:block th:each="seri, seriStat : ${equipment.getEquipmentSerieList}">
                                            <option th:value="${seri}" >[[${equipment.getName + '/'+seri}]]</option>
                                        </th:block>
                                    </optgroup>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="form-group choose-datetime">
                        <h5 class="card-title text-black">Ngày đặt:</h5>
                        <input type="date" id="date" name="date" disabled="true"
                               class="form-control" style="max-width: 15rem; margin: auto">
                    </div>
                    <div class="form-group">
                        <label for="work_time">Đăng kí số tiết sử dụng:</label>
                        <input type="number" id="work_time" name="work_time" class="form-control bg-danger-subtle"
                               th:value="${bookingDTO.getWork_times}"
                               style="max-width: 8rem; margin: auto" min="1" max="10">
                    </div>
                    <div class="form-group">
                        <h5 for="note">Ghi chú:</h5>
                        <textarea rows="1" class="form-control autosize-input bg-danger-subtle" style="height: 50px;"
                                  id="note" name="note" required
                                  th:placeholder="'[Ghi chú vào đây nếu cần]'"
                                  th:text="${bookingDTO.getNote}"
                        ></textarea>
                    </div>
                </div>
            </div>
            <input type="hidden" th:value="${#authentication.name}" name="username">
            <!-- Submit button -->
            <div class="row d-flex justify-content-center" th:if="${#strings.contains(#request.requestURI, '/Lab/myBookingDetail') && bookingDTO.confirm_Status == 'Đang chờ duyệt'}">
                <button type="submit" class="btn btn-primary col-3 mx-2" onclick="return confirm('Bạn có chắc chắn muốn sửa?')">Sửa thông tin</button>
                <button type="button" class="btn btn-danger col-3 mx-2">Hủy</button>
            </div>
        </form>
        <br>
        <br>
        <h2 th:text="${'Các thiết bị đã được chọn (' + #lists.size(bookingDTO.booking_equis) + ')'}"></h2>
        <br>
        <div class="row">
            <div th:each="machine : ${bookingEquiDTOs}" class="col-md-3 mb-3">
                <div class="machine-block">
                    <div class="d-flex flex-row justify-content-between">
                        <strong>
                            <span th:text="${machine.equipment.name}"></span>
                        </strong>
                        <form th:action="@{/Lab/admin/ShowBookingPendding/removeBookingEqui}" method="post">
                            <input type="hidden" th:value="${machine.bookingId}" name="bookingId">
                            <input type="hidden" th:value="${machine.id}" name="removeBookingEqui">
                            <style>
                                .remove-button{color: black;background-color:#f5f5f5}
                            </style>
                            <button type="submit"  class="remove-button" style=""> Bỏ </button>
                        </form>
                    </div>
                    <span>Số lượng: <span th:text="${#lists.size(machine.getEquipmentSerieList)}"></span></span><br>
                    <span>Seri:</span>
                    <ul>
                        <li th:each="seri : ${machine.getEquipmentSerieList}">
                            <span th:text="${seri}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="machine-block">
                    <img src="https://png.pngtree.com/png-vector/20230316/ourmid/pngtree-plus-sign-line-icon-vector-png-image_6650590.png" alt="Thêm" onclick="addEqui()" style="cursor: pointer">
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <!--CORE-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"-->
            <!--integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"-->
            <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/metismenu"></script>-->

    <!--Multiselect-->
    <script th:src="@{/js/multiselect/bootstrap-multiselect.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script th:src="@{/js/multiselect/input-select.js}"></script>
    <!--Input Mask-->
    <script th:src="@{/js/multiselect/input-mask.js}"></script>
    <script th:src="@{/js/multiselect/input-mask-init.js}"></script>

    <script th:inline="javascript">
        if($('.container-xxxl')){
            $('.container-xxxl').removeClass('container')
        }
        var experimentTypes = [[${experimentTypes}]];
        var experimentReports = [[${experimentReports}]];
        var bookingId = [[${bookingDTO.getId}]];
        var bookingStatus = [[${bookingDTO.confirm_Status}]];
        var tempGroupId
        $(document).ready(function() {
            checkuser([[${#authentication.name}]])
            /** ******* Đặt value cho các select*/
            setTimeout(function() {
                $('#experiment_group').val($('#experiment_group').attr('data'));
                $('#experiment_group').trigger('change')
                setTimeout(function() {
                    $('#experiment_type').val($('#experiment_type').attr('data'));
                    $('#experiment_type').trigger('change')
                    setTimeout(function() {
                        $('#experiment_report').val($('#experiment_report').attr('data'));
                    }, 50);
                }, 50);
            }, 50);
            $('#reservationist').val($('#reservationist').attr('data'))
            /** ******* Set date **********/
            $('#date').val([[${date}]]);
            $('#experiment_type').prop('disabled','true');
            $('#experiment_report').prop('disabled','true');

            if(bookingStatus === 'Đang chờ duyệt'){
                $('#experiment_group').change(function () {
                    var groupId = $(this).val();
                    SetExperiment_Type(groupId);
                    tempGroupId = groupId;
                    $('#experiment_report').prop('disabled','true');
                });
                $('#experiment_type').change(function () {
                    var typeId = $(this).val();
                    SetExperiment_Report(tempGroupId, typeId)
                });
            }

            /** ******* trigger change **********/
            // setTimeout(function() {
            //     $('#experiment_group').trigger('change');
            //     $('#experiment_type').trigger('change');
            //     $('#experiment_report').trigger('change');
            // },300)

            ReadOnly(bookingId);
        });

        function SetExperiment_Type(groupId) {
            $('#experiment_type').removeAttr('disabled');
            // Xóa tất cả các option hiện tại trong select experiment_type
            $('#experiment_type').empty();
            // Thêm các option mới từ danh sách loại hình thí nghiệm nhận được
            experimentTypes.forEach(experimentType => {
                if(experimentType.experimentGroupId == groupId){
                    $('#experiment_type').append($('<option>', {
                        value: experimentType.id,
                        text: experimentType.typeName
                    }));
                }
            });
        }
        function SetExperiment_Report(groupId, typeId) {
            $('#experiment_report').removeAttr('disabled');
            $('#experiment_report').empty();
            var experimentTypeIdList
            // Thêm các option mới từ danh sách loại hình thí nghiệm nhận được
            experimentReports.forEach(experimentReport => {
                experimentTypeIdList = StringToList(experimentReport.experimentTypeId);
                if(experimentReport.experimentGroupId == groupId && experimentTypeIdList.includes(typeId)){
                    $('#experiment_report').append($('<option>', {
                        value: experimentReport.id,
                        text: experimentReport.reportType
                    }));
                }
            });
        }
        function StringToList(inputString) {
            var cleanString = inputString.replace(/\[|\]/g, '');
            var stringArray = cleanString.split(',');
            var trimmedArray = stringArray.map(function(item) {
                return item.trim();
            });
            return trimmedArray;
        }

        $('.btn-danger').click(function () {
            var username = [[${#authentication.name}]]
            if (confirm('Bạn có chắc chắn muốn hủy đơn này?')) {
                window.location.href = "/Lab/myBookingDetail/Cancel?bookingId=" + bookingId + '&username='+username;
            }
        });

        function ReadOnly(bookingId) {
            var bookingStatus = [[${bookingDTO.confirm_Status}]];
            console.log(bookingStatus)
            // Kiểm tra đường dẫn hiện tại
            if (window.location.pathname === '/Lab/admin/ShowBookingApprove/'+bookingId
            || window.location.pathname === '/Lab/admin/ShowBookingCancel/'+bookingId
            || (window.location.pathname === '/Lab/myBookingDetail/'+bookingId && bookingStatus == 'Bị từ chối')
            || (window.location.pathname === '/Lab/myBookingDetail/'+bookingId && bookingStatus == 'Đã xác nhận')) {
                // Lấy danh sách tất cả các thẻ input, nút button và các selection
                var inputs = document.querySelectorAll('input, button, select, textarea');
                console.log("đã vô hiệu hóa")
                // Vòng lặp để thêm thuộc tính disabled vào từng phần tử
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = true;
                }
            }
        }

    </script>
    <script>
        function addEqui() {
            var seriesElement = $('#chosseSeries');

            // Thêm thuộc tính CSS để phóng to phần tử
            seriesElement.css({
                'transform': 'scale(1.2)',
                'transition': 'transform 0.3s ease-in-out', // Thêm transition
            });

            // Xóa thuộc tính CSS sau 2 giây sử dụng setTimeout
            setTimeout(function () {
                seriesElement.css({
                    'transform': 'none',
                });
            }, 1000);

            // Gọi sự kiện focus để mở danh sách các lựa chọn
            seriesElement.focus();
        }
    </script>
    <script th:src="@{/js/noticePopUp.js}"></script>
    <br>
    <br>
</booking-detail>
</body>
</html>