<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Add new Brand or Category</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Phone</title>
    <!-- Link to Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!--<div th:replace="admin/headerAdmin :: header-admin"></div>-->
<role>
    <h1 style="text-align: center"> Danh mục quyền</h1>
    <!--<div th:replace="admin/add-nocite.html :: notice"></div>-->
    <div class="form-group" style="display: flex ; justify-content: space-around">
        <form th:action="@{'/Lab/admin/Role/delete'}" method="post">
            <div>
                <label th:for="@{'role'}" >Quyền:</label>
                <select th:class="@{'form-control'}" th:id="@{'role'}" th:name="@{'roleid'}"  required>
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-danger" > Xóa quyền </button>
        </form>
        <div style="display: flex; justify-content: space-around">
            <form th:action="'/Lab/admin/Role/add'" method="post">
                <div style="margin-right: 10px">
                    <label for="addrole" >Thêm quyền:</label>
                    <input type="text" class="form-control" id="addrole" name="role" required>
                </div>
                <button type="submit" class="btn btn-primary" > Thêm mới</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/noticePopUp.js"></script>
</role>
</body>
</html>