<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Add new Brand or Category</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Phone</title>
    <!-- Link to Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!--<div th:replace="admin/headerAdmin :: header-admin"></div>-->
<role>
    <h1 style="text-align: center"> Danh mục quyền
        <a th:href="'/Lab/admin/Export/Roles?username='+${#authentication.name}" >
            <img src="/images/download.png" alt="Tải xuống" style="max-width: 2%" >
        </a>
    </h1>
    <!--<div th:replace="admin/add-nocite.html :: notice"></div>-->
    <div class="form-group" style="display: flex ; justify-content: space-around">
        <form th:action="@{'/Lab/admin/Role/delete'}" method="post">
            <div>
                <label for="role" >Quyền:</label>
                <select th:class="@{'form-control'}" id="role" th:name="@{'roleid'}"  required>
                    <option th:each="role : ${rolesNotRoleSystem}" th:value="${role.id}" th:text="${role.role}"></option>
                </select>
                <label for="role" class="text-warning">Không xóa được các quyền cơ bản của hệ thống</label><br>
                <label for="role" class="text-warning">Chỉ xóa được các quyền do người dùng thêm vào</label>
            </div>
            <button type="submit" class="btn btn-danger" > Xóa quyền </button>
        </form>
        <div style="display: flex; justify-content: space-around">
            <form th:action="'/Lab/admin/Role/add'" method="post">
                <div style="margin-right: 10px">
                    <label for="addrole" >Thêm quyền:</label>
                    <input type="text" class="form-control" id="addrole" name="role" required>
                </div>
                <button type="submit" class="btn btn-primary" > Thêm mới</button>
            </form>
        </div>
    </div>
    <br>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên quyền</th>
                    <!--<th>Loại quyền</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="role, iter : ${roles}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${role.role}"></td>
                    <!--<td th:if="${role.role == rolesNotRoleSystem[iter.index].role}" th:text="'Quyền cơ bản của Hệ thống'"></td>-->
                    <!--<td th:unless="${role.role == rolesNotRoleSystem[iter.index].role}" th:text="'Quyền nười dùng thêm'"></td>-->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>STT</th>
                    <th>Tên quyền</th>
                    <!--<th>Loại quyền</th>-->
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/noticePopUp.js"></script>
</role>
</body>
</html>