<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5">

<!-- Head -->
<head>

    <title>Đăng nhập</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/popuo-box.css" type="text/css">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="stylesheet" href="/css/stylesSupport.css" type="text/css">
    <link rel="stylesheet" href="/css/Header.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" type="text/css">

</head>
<body>
    <!--<div id="header" th:replace="headernew :: header"></div>-->
<header>
    <div>
        <img src="/images/logo_hvktqs.png" alt="logo" class="img-full-ss logox"/>
    </div>
</header>
<br>
    <div style="background: rgba(174,250,255,0.6); padding: 0.5em">
        <h2 style="font-size: 2.5em; color: red; margin: 1em">Hệ thống quản lý </h2>
        <h2 style="font-size: 2.5em; color: red; margin: 1em">Phòng thí nghiệm, thực nghiệm</h2>
    </div>
<br>
<div class="w3layoutscontaineragileits">
    <h2>Xin mời đăng nhập</h2>
    <form th:action="'/authenticateTheUser'" method="post">
        <div class="form-group">
            <div class="col-xs-15">
                <div>
                    <!-- Check for login error -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger col-xs-offset-1 col-xs-10" style="color: red ; margin: 10px; font-weight: bold">
                            <b>
                                Thông tin tài khoản hoặc mật khẩu không chính xác
                            </b>
                        </div>
                    </div>
                    <!-- Check for Logout -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-success col-xs-offset-1 col-xs-10" style="color: mediumvioletred; margin: 10px; font-weight: bold">
                            <b style="color: red; font-size: 1em">
                                Bạn đã đăng xuất
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="text" Name="username" placeholder="EMAIL" required="">
        <input type="password" Name="password" placeholder="PASSWORD" required="">
        <ul class="agileinfotickwthree">
            <li>
                <input type="checkbox" id="brand1" value="">
                <label for="brand1"><span></span>Remember me</label>
                <a href="#">Forgot password?</a>
            </li>
        </ul>
        <div class="aitssendbuttonw3ls">
            <input type="submit" value="LOGIN">
            <p style="color: #c9c3f7" > Đăng kí tài khoản cho giáo viên mới<span>→</span> <a class="w3_play_icon1" href="#small-dialog1"> tại đây</a></p>
            <div class="clear"></div>
        </div>
    </form>
</div>

<!-- for register popup -->
<div id="small-dialog1" class="mfp-hide">
    <div class="contact-form1">
        <div class="contact-w3-agileits">
            <h3>Register Form</h3>
            <form th:action="@{'/register'}" method="post">
                <div class="form-sub-w3ls">
                    <input placeholder="Họ và tên" type="text"  name="name" required="">
                    <div class="icon-agile">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3ls">
                    <input placeholder="Quân hàm"  type="text" name="rank" required="">
                    <div class="icon-agile">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3ls">
                    <input placeholder="Đơn vị" name="unit" type="text" required="">
                    <div class="icon-agile">
                        <i class="fa fa-map-marke" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3ls">
                    <input placeholder="Số hiệu quân nhân" type="text" name="militaryNumber" required="">
                    <div class="icon-agile">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3ls">
                    <input placeholder="Liên lạc" name="contact" type="text" required="">
                    <div class="ui-icon-contact">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3ls">
                    <input placeholder="Tên đăng nhập" name="usernameReg" type="text" required="">
                    <div class="icon-agile">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="form-sub-w3ls">
                    <input placeholder="Password" name="password" type="password" required="">
                    <div class="icon-agile">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3ls">
                    <input placeholder="Confirm Password" name="confirmPassword" type="password" required="">
                    <div class="icon-agile">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="login-check">
                    <label class="checkbox">
                    <input type="checkbox" name="checkbox" checked="">Đồng ý và đăng kí</label>
                </div>
                <div class="submit-w3l">
                    <input type="submit" value="Register" id="register-btn">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- //for register popup -->

<div class="w3footeragile">
    <p> &copy; 2024 Existing Login Form. All Rights Reserved | Design by <a href="/" target="_blank">trhquan</a></p>
</div>


<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- pop-up-box-js-file -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<!--//pop-up-box-js-file -->
<script th:inline="javascript">

    const ranks = ["Thiếu úy", "Trung úy", "Đại úy", "Thượng úy", "Thiếu tá", "Trung tá", "Đại tá"];

    $(document).ready(function() {
        $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('#register-btn').click(function(event) {
            var password = $('input[name="password"]').val();
            var confirmPassword = $('input[name="confirmPassword"]').val();

            if (password !== confirmPassword) {
                alert("Mật khẩu xác nhận không khớp. Vui lòng kiểm tra lại!");
                event.preventDefault(); // Ngăn chặn việc gửi form nếu mật khẩu không khớp
            }

            var rank = $('input[name="rank"]').val();
            if (!ranks.includes(rank)){
                alert("Vui lòng nhập lại quân hàm, ví dụ: Thượng úy");
                event.preventDefault();
            }

            var militaryNumber = $('input[name="militaryNumber"]').val();
            console.log(militaryNumber)
            console.log(isNaN(militaryNumber))
            if (isNaN(militaryNumber)) {
                alert("Vui lòng nhập đúng định dạng số hiệu quân nhân, ví dụ: 123456789");
                event.preventDefault();
            }

            var usernameReg = $('input[name="usernameReg"]').val();
            var userDB = [[${userDB}]]
            if (userDB.includes(usernameReg)) {
                alert("Vui lòng chọn tên đăng nhập khác!");
                event.preventDefault();
            }
            // const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            // var contact = $('input[name="contact"]').val();
            // if (isNaN(contact) || !emailRegex.test(contact)) {
            //     alert("Vui lòng nhập đúng định dạng số điện thoại Việt Nam hoặc email");
            //     event.preventDefault();
            // }
        });
    });
</script>

</body>

</html>