<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin giáo viên</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<!--<div th:replace="admin/headerAdmin :: header-admin"></div>-->
<teacher-edit-form>
    <div class="container">
        <h1 class="text-center text-uppercase font-weight-bold mt-5">Thông tin giáo viên
            <a th:href="'/Lab/admin/Export/Teachers/'+ ${manager.getId}" class="col-3">
                <img src="/images/download.png" alt="Tải xuống" style="max-width: 2%">
            </a>
        </h1>
        <br>
        <br>
        <form th:object="${manager}" th:action="'/Lab/admin/Teacher/showFormForUpdate/' + ${manager.getId}" method="POST">
            <div class="row d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-between col-6">
                    <div class="form-group">
                        <label for="name">Họ tên:</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="*{getName}" required>
                    </div>
                    <div class="form-group">
                        <label for="rank">Cấp bậc:</label>
                        <select class="form-control" id="rank" name="rank" required>
                            <option value="Thiếu úy">Thiếu úy</option>
                            <option value="Trung úy">Trung úy</option>
                            <option value="Thượng úy">Thượng úy</option>
                            <option value="Đại úy">Đại úy</option>
                            <option value="Thiếu tá">Thiếu tá</option>
                            <option value="Trung tá">Trung tá</option>
                            <option value="Thượng tá">Thượng tá</option>
                            <option value="Đại tá">Đại tá</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="unit">Đơn vị:</label>
                        <input type="text" class="form-control" id="unit" name="unit" th:value="*{getUnit}" required>
                    </div>
                    <div class="form-group">
                        <label for="militaryNumber">Số hiệu QN:</label>
                        <input type="number" class="form-control password" id="militaryNumber"
                               th:value="*{getMilitaryNumber}" name="militaryNumber" required>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-between col-6">
                    <div class="form-group">
                        <label for="contact">Liên lạc:</label>
                        <input type="text" class="form-control" id="contact" name="contact" th:value="*{getContact}" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Tên đăng nhập:</label>
                        <input class="form-control" type="text" th:value="*{getUser.getUsername}" id="username" disabled="true" required>
                        <input type="hidden" class="form-control" name="username" th:value="*{getUser.getUsername}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu:</label>
                        <input type="password" class="form-control password" id="password" name="password" th:value="'Không có mk đâu'" required>
                    </div>
                    <div class="form-group">
                        <label for="authority">Quyền đăng nhập:</label>
                        <select class="form-control" id="authority" name="authority" required>
                            <th:block th:each="role : ${roles}">
                                <option th:value="${role.role}">[[${role.role}]]</option>
                            </th:block>
                        </select>
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sửa Thông tin</button>
        </form>

        <br>
        <br>
        <h2 class="text-center font-weight-bold text-uppercase" >Danh sách các đơn đặt phòng</h2>
        <br>
        <div class="main-card m-3 card p-5" id="table-booking">
            <div class="card-body">
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên phòng</th>
                        <th>Loại sản phẩm</th>
                        <th>Tên lớp</th>
                        <th>Ngày đặt</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="booking, iter : ${bookingDTOs}">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${booking.lab.labName}"></td>
                        <td style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <span class="lab-info text-primary" th:text="${booking.experimentReport.reportType} +': '"> </span>
                            <span class="lab-info" th:text="${booking.content.name}"></span>
                        </td>
                        <td>
                            <span class="lab-info text-primary"> Tên lớp: </span>
                            <span class="lab-info" th:text="${booking.content.className}"></span>
                        </td>
                        <td>
                            <div class="date-info" th:value="${booking.confirm_Status}">
                                <!--<span class="lab-info"> Ngày đặt: </span>-->
                                <span class="lab-info strong" th:text="${booking.booking_Date}"></span>
                            </div>
                        </td>
                        <td th:if="${#strings.contains(#request.requestURI, '/Lab/admin/LabBookingManagement/WaitComfirmUsed')}">
                            <div class="date-info">
                                <span class="lab-info strong" th:text="${booking.comfirmUsed}"></span>
                            </div>
                        </td>
                        <td>
                            <form th:action="@{'/Lab/admin/LabBookingManagement/ComfirmUsed'}" method="get" class="m-2"
                                  th:if="${booking.comfirmUsed == 'Chưa sử dụng'}">
                                <input type="hidden" name="bookingId" th:value="${booking.getId}">
                                <input type="hidden" name="username" th:value="${#authentication.name}">
                                <button type="submit" class="btn btn-danger mx-2" onclick="return confirm('Bạn có chắc chắn muốn HỦY không?')">Hủy</button>
                            </form>
                            <div class="d-flex justify-content-center align-content-center flex-column">
                                <span class="text-success font-weight-bold" th:if="${booking.comfirmUsed == 'Đã sử dụng'}"> Đã sử dụng </span>
                                <a class="font-weight-bold" th:href="'/Lab/myBookingDetail/ComfirmUsed/download/'+${booking.getId}"
                                   th:if="${booking.comfirmUsed == 'Đã sử dụng'}"> <span>Tải xuống báo cáo</span></a>
                            </div>
                            <span class="text-danger font-weight-bold" th:if="${booking.comfirmUsed == 'Đã hủy'}"> Bạn Đã xác nhận <br> hủy phòng</span>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center align-content-center flex-row p-2">
                                <button th:data="${booking.id}" th:data-user="${#authentication.name}"
                                        th:if="${booking.comfirmUsed!='Chưa sử dụng'}"
                                        type="button" class="btn btn-primary btn-detail-booking" style="border: black thin;">Xem chi tiết
                                </button>
                                <button th:data="${booking.id}" th:data-user="${#authentication.name}"
                                        th:if="${booking.comfirmUsed=='Chưa sử dụng'}"
                                        type="button" class="btn btn-warning btn-detail-booking" style="border: black thin;">Vào xác nhận
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Tên phòng</th>
                        <th>Loại sản phẩm</th>
                        <th>Tên lớp</th>
                        <th>Ngày đặt</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--Phải load jquery trước khi load bootstrap js-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            var managerAuthority = [[${manager.getAuthority.getAuthority}]];
            $('#authority option').each(function() {
                if ($(this).val() === managerAuthority) {
                    $(this).prop('selected', true);
                }
            });
            var rank = [[${manager.getRank}]]
            $('#rank option').each(function() {
                if ($(this).val() === rank) {
                    $(this).prop('selected', true);
                }
            });
        });
    </script>
    <script src="/js/my-booking.js"></script>
</teacher-edit-form>
</body>
</html>