<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Quản lý phòng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/base2.min.css}">
</head>
<body class="scroll-container">

<management><!--<div th:replace="admin/templateAdmin.html :: header-admin"></div>-->
    <style>
        .title-h1{margin-top: 50px;  font-weight: bold; text-transform: uppercase;} .quantity-h1 { font-size: 2em; margin-top: 0; } .pending { color: #af6d09; } .approve { color: green; } .cancel { color: red; } .wait { color: #ffe500; border: thick black }
        /*.title-h1.pending { background-color: #ffca95; display: inline-block; padding: 5px 10px; border-radius: 50px; }*/
        /*.title-h1.approve { background-color: #baff82; display: inline-block; padding: 5px 10px; border-radius: 50px; }*/
        /*.title-h1.cancel { background-color: #ffb8b3; display: inline-block; padding: 5px 10px; border-radius: 50px; }*/
    </style>
    <div class="row">
        <div class="col-12 d-flex flex-column align-content-center">
            <div style="margin: auto">
                <h1 class="title-h1 pending" th:if="${#request.requestURI == '/Lab/admin/LabBookingManagement/Pendding'}"
                    th:text="'Danh sách chờ duyệt' "></h1>
            </div>
            <div style="margin: auto">
                <h1 class="title-h1 approve" th:if="${#request.requestURI == '/Lab/admin/LabBookingManagement/Approve'}"
                    th:text="'Danh sách đã duyệt' "></h1>
            </div>
            <div style="margin: auto">
                <h1 class="title-h1 wait" th:if="${#request.requestURI == '/Lab/admin/LabBookingManagement/WaitComfirmUsed'}"
                    th:text="'Danh sách chờ xác nhận sử dụng' "></h1>
            </div>
            <div style="margin: auto">
                <h1 class="title-h1 cancel" th:if="${#request.requestURI == '/Lab/admin/LabBookingManagement/Cancel'}"
                    th:text="'Danh sách hủy bỏ' "></h1>
            </div>
            <div style="margin: auto">
                <h1 class="title-h1 quantity-h1" th:text="'Số lượng: ' + ${#lists.size(bookingDTOs)}"></h1>
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex flex-column justify-content-center align-content-center">
        <div class="row justify-content-center">
            <a href="/Lab?RedirectLabAdmin=false" target="_blank" class="text-center btn btn-primary font-bold font-size-xlg col-2">Đặt phòng</a>
        </div>
        <br>
        <div style="margin: auto">
            <a class="title-h1 pending" th:if="${#request.requestURI == '/Lab/admin/LabBookingManagement/Pendding'}"
               th:href="'/Lab/admin/Export/LabBookingPendding?username='+${#authentication.name}"
               th:text="'Tải xuống Danh sách' "></a>
        </div>
        <div style="margin: auto">
            <a class="title-h1 approve" th:if="${#request.requestURI == '/Lab/admin/LabBookingManagement/Approve'}"
               th:href="'/Lab/admin/Export/LabBookingApprove?username='+${#authentication.name}"
               th:text="'Tải xuống Danh sách' "></a>
        </div>
        <div style="margin: auto">
            <a class="title-h1 wait" th:if="${#request.requestURI == '/Lab/admin/LabBookingManagement/WaitComfirmUsed'}"
               th:href="'/Lab/admin/Export/LabBookingWaitComfirmUsed?username='+${#authentication.name}"
               th:text="'Tải xuống Danh sách' "></a>
        </div>
        <div style="margin: auto">
            <a class="title-h1 cancel" th:if="${#request.requestURI == '/Lab/admin/LabBookingManagement/Cancel'}"
               th:href="'/Lab/admin/Export/LabBookingCancel?username='+${#authentication.name}"
               th:text="'Tải xuống Danh sách' "></a>
        </div>
        <br>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên phòng</th>
                        <th>Loại sản phẩm</th>
                        <th>Tên lớp</th>
                        <th>Ngày đặt</th>
                        <th>Tác nhân</th>
                        <th th:if="${#strings.contains(#request.requestURI, '/Lab/admin/LabBookingManagement/WaitComfirmUsed')}">
                            TT sử dụng</th>
                        <th>Thao tác <span th:if="${#strings.contains(#request.requestURI, '/Lab/admin/LabBookingManagement/WaitComfirmUsed')}">
                            Xác nhận
                        </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking, iter : ${bookingDTOs}">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${booking.lab.labName}"></td>
                        <td style="max-width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <span class="lab-info text-primary" th:text="${booking.experimentReport.reportType} +': '"> </span>
                            <span class="lab-info" th:text="${booking.content.name}"></span>
                        </td>
                        <td>
                            <span class="lab-info text-primary"> Tên lớp: </span>
                            <span class="lab-info" th:text="${booking.content.className}"></span>
                        </td>
                        <td>
                            <div class="date-info" th:value="${booking.confirm_Status}">
                                <!--<span class="lab-info"> Ngày đặt: </span>-->
                                <span class="lab-info strong" th:text="${booking.booking_Date}"></span>
                            </div>
                        </td>
                        <td>
                            <div class="date-info">
                                <span class="lab-info strong" th:if="${booking.auto != null}" th:text="${booking.auto}"></span>
                                <span class="lab-info strong" th:if="${booking.auto == ''}" th:text="'Chưa có'"></span>
                            </div>
                        </td>
                        <td th:if="${#strings.contains(#request.requestURI, '/Lab/admin/LabBookingManagement/WaitComfirmUsed')}">
                            <div class="date-info">
                                <span class="lab-info strong" th:text="${booking.comfirmUsed}"></span>
                                <!--<span class="lab-info strong" th:if="${booking.auto == ''}" th:text="'Chưa có'"></span>-->
                            </div>
                        </td>
                        <td th:if="${#strings.contains(#request.requestURI, '/Lab/admin/LabBookingManagement/Pendding')}" >
                            <div class="d-flex justify-content-center align-content-center row">
                                <a th:href="@{'/Lab/admin/ShowBookingPendding/' + ${booking.getId}}">
                                    <button type="button" class="btn btn-info mx-2">Chi tiết</button>
                                </a>
                                <form th:action="@{'/Lab/admin/ShowBookingPendding/Approve'}" method="get">
                                    <input type="hidden" name="bookingId" th:value="${booking.getId}">
                                    <input type="hidden" name="username" th:value="${#authentication.name}">
                                    <button type="submit" class="btn btn-success mx-2" onclick="return confirm('Bạn có chắc chắn muốn Duyệt không?')">Duyệt</button>
                                </form>
                                <form th:action="@{'/Lab/admin/ShowBookingPendding/Cancel'}" method="get">
                                    <input type="hidden" name="username" th:value="${#authentication.name}">
                                    <input type="hidden" name="bookingId" th:value="${booking.getId}">
                                    <button type="submit" class="btn btn-danger mx-2" onclick="return confirm('Bạn có chắc chắn muốn Hủy không?')">Hủy</button>
                                </form>
                            </div>
                        </td>
                        <td th:if="${#strings.contains(#request.requestURI, '/Lab/admin/LabBookingManagement/Approve')}" >
                            <div class="d-flex justify-content-center align-content-center flex-row p-2">
                                <a th:href="@{'/Lab/admin/ShowBookingApprove/' + ${booking.getId}}">
                                    <button type="button" class="btn btn-info mx-2">Chi tiết</button>
                                </a>
                                <form th:action="@{'/Lab/admin/LabBookingManagement/UnApprove'}" method="get">
                                    <input type="hidden" name="bookingId" th:value="${booking.getId}">
                                    <input type="hidden" name="username" th:value="${#authentication.name}">
                                    <button type="submit" class="btn btn-danger mx-2" onclick="return confirm('Bạn có chắc chắn muốn HOÀN TÁC không?')">Hoàn tác</button>
                                </form>
                            </div>
                        </td>
                        <td th:if="${#strings.contains(#request.requestURI, '/Lab/admin/LabBookingManagement/WaitComfirmUsed')}" >
                            <div class="d-flex justify-content-center align-content-center flex-row p-2">
                                <form th:action="@{'/Lab/admin/LabBookingManagement/ComfirmUsed'}" method="post"
                                      enctype="multipart/form-data"
                                      class="d-flex flex-column justify-content-center align-content-center"
                                      th:if="${booking.comfirmUsed == 'Chưa sử dụng'}">
                                    <input class="form-control fileInput mx-2" type="file" name="file"
                                           style="max-width: 10em"
                                           accept=".xlsx, .xls, .doc, .docx, .ppt, .pptx" onchange="enableImportButton(this)">
                                    <input type="hidden" name="bookingId" th:value="${booking.getId}">
                                    <input type="hidden" name="username" th:value="${#authentication.name}">
                                    <!--<button type="submit" disabled class="btn btn-success m-2" onclick="return confirm('Bạn có chắc chắn muốn SỬ DỤNG không?')">Dùng</button>-->
                                    <button type="submit" class="btn btn-success m-2" onclick="return confirm('Bạn có chắc chắn muốn SỬ DỤNG không?')">Dùng</button>
                                </form>
                                <form th:action="@{'/Lab/admin/LabBookingManagement/ComfirmUsed'}" method="get"
                                      class="d-flex justify-content-center align-content-center"
                                      th:if="${booking.comfirmUsed == 'Chưa sử dụng'}">
                                    <input type="hidden" name="bookingId" th:value="${booking.getId}">
                                    <input type="hidden" name="username" th:value="${#authentication.name}">
                                    <button type="submit" class="btn btn-danger mx-2" onclick="return confirm('Bạn có chắc chắn muốn HỦY không?')">Hủy</button>
                                </form>
                                <div class="d-flex justify-content-center align-content-center flex-column">
                                    <span class="text-success font-weight-bold" th:if="${booking.comfirmUsed == 'Đã sử dụng'}"> GV đã xác nhận sử dụng phòng</span>
                                    <a class="font-weight-bold" th:href="'/Lab/admin/LabBookingManagement/ComfirmUsed/download/'+${booking.getId}"
                                       th:if="${booking.comfirmUsed == 'Đã sử dụng' && booking.getContent.getFileName != ''}"> <span>Tải xuống báo cáo</span></a>
                                </div>
                                <span class="text-danger font-weight-bold" th:if="${booking.comfirmUsed == 'Đã hủy'}"> GV Đã xác nhận <br> hủy phòng</span>
                            </div>
                        </td>
                        <td th:if="${#strings.contains(#request.requestURI, '/Lab/admin/LabBookingManagement/Cancel')}" >
                            <div class="d-flex justify-content-center align-content-center row">
                                <a th:href="@{'/Lab/admin/ShowBookingCancel/' + ${booking.getId}}">
                                    <button type="button" class="btn btn-info mx-2">Chi tiết</button>
                                </a>
                                <!--<form th:action="@{'/Lab/admin/ShowBookingPendding/Approve'}" method="get">
                                    <input type="hidden" name="bookingId" th:value="${booking.getId}">
                                    <button type="submit" class="btn btn-success mx-2" onclick="return comfirm('Bạn có chắc chắn muốn Duyệt không?')">Duyệt</button>
                                </form>-->
                                <form th:action="@{'/Lab/admin/LabBookingManagement/UnCancel'}" method="get">
                                    <input type="hidden" name="bookingId" th:value="${booking.getId}">
                                    <input type="hidden" name="username" th:value="${#authentication.name}">
                                    <button type="submit" class="btn btn-danger mx-2" onclick="return confirm('Bạn có chắc chắn muốn HOÀN TÁC không?')">Hoàn tác</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>STT</th>
                    <th>Tên phòng</th>
                    <th>Loại sản phẩm</th>
                    <th>Tên lớp</th>
                    <th>Ngày đặt</th>
                    <th>Tác nhân</th>
                    <th th:if="${#strings.contains(#request.requestURI, '/Lab/admin/LabBookingManagement/WaitComfirmUsed')}">
                        TT sử dụng</th>
                    <th>Thao tác</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--Phải load jquery trước khi load bootstrap js-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <div style="margin: 20px">
        <!-- Add a Logout button -->
        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>
        </form>
        <!--<div sec:authorize="isAuthenticated" style="color: red"> Authenticated as <span sec:authentication=""></span></div>-->
    </div>
    <!--CORE-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/demo.js}"></script>
</management>
</body>
</html>
