<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--<html xmlns:th="http://www.springframework.org/schema/data/jaxb">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Phone</title>
    <!-- Link to Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/base2.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body class="scroll-container">
<equipment-edit-form>
    <!--<div th:replace="admin/headerAdmin :: header-admin"></div>-->
    <h1 style="margin-top: 50px; text-align: center;text-transform: uppercase;">Thông tin Thiết bị</h1><br>
    <div class="container">
        <form th:object="${equipment}" th:action="@{'/Lab/admin/Equipment/showFormForUpdate/'+ ${equipment.getId}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <h4 for="name">Tên phòng thiết bị:</h4>
                <input type="text" class="form-control" id="name" name="name" required
                       th:value="*{getName}" style="font-weight: bold">
            </div>
            <div class="main-card mb-3 card form-group">
                <div class="card-body">
                    <h4 for="description">Mô tả:</h4>
                    <textarea rows="1" class="form-control autosize-input" style="height: 35px; font-weight: bold"
                              id="description" name="description" required
                              th:text="*{getDescription}"
                    ></textarea>
                </div>
            </div>
            <div class="main-card mb-3 card form-group row flex-row">
                <div class="card-body col-6">
                    <h4 for="description">Xuất xứ:</h4>
                    <input class="form-control font-weight-bold" style="height: 35px;"
                           id="origin" name="origin" required
                           th:value="*{getOrigin}"
                           th:placeholder="'Việt Nam'"
                    >
                </div>
                <div class="card-body col-6">
                    <h4 for="unit">Đơn vị tính:</h4>
                    <select class="form-control font-weight-bold" name="unit" id="unit" required>
                        <option th:each="unit : ${units}"
                                th:value="${unit.unitName}" th:text="${unit.unitName}"
                                th:selected="${unit.unitName == equipment.getUnit}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group seriesDiv ">
                <h4 for="series">Danh sách seri/mã, phân cấp và ngày cấp trang bị <span class="text-danger"> (Chưa được biên chế về phòng TN)</span> :</h4>
                <div class="d-flex flex-row flex-wrap justify-content-start row">
                    <th:block th:each="seri, iter : ${equipment.getEquipmentSerieList}">
                        <div class="inputseri d-flex flex-row flex-wrap justify-content-start">
                            <input type="search" class="form-control m-3 col-sm-6" id="series" name="series" required
                                   th:value="${seri}" style="font-weight: bold">
                            <button type="button" class="btnremove btn btn-primary my-3 col-sm-2" onclick="Seri2Fix(this)"> <i class="fa fa-wrench"></i> </button>
                            <div class="d-flex flex-row flex-wrap justify-content-start col-sm-6">
                                <input type="date" id="date" class="form-control m-2 col-sm-6" name="using" th:value="${equipment.getUsingList[iter.index]}">
                                <select class="form-control m-2 col-sm-4" id="levels" name="levels" required>
                                    <option value="Cấp 1" th:selected="${equipment.getLevelList[iter.index] == 'Cấp 1'}">Cấp 1</option>
                                    <option value="Cấp 2" th:selected="${equipment.getLevelList[iter.index] == 'Cấp 2'}">Cấp 2</option>
                                    <option value="Cấp 3" th:selected="${equipment.getLevelList[iter.index] == 'Cấp 3'}">Cấp 3</option>
                                    <option value="Cấp 4" th:selected="${equipment.getLevelList[iter.index] == 'Cấp 4'}">Cấp 4</option>
                                    <option value="Cấp 5" th:selected="${equipment.getLevelList[iter.index] == 'Cấp 5'}">Cấp 5</option>
                                </select>
                            </div>
                            <button type="button" class="btnremove btn btn-primary my-3 col-sm-2" onclick="removeSeri(this)"> <i class="fa fa-times-circle"></i> </button>
                        </div>
                    </th:block>
                    <button type="button" class="btn btn-primary m-3" onclick="addInput(this)"> <i class="fa fa-plus-circle"></i> </button>
                </div>
            </div>
            <div class="form-group seriesDiv">
                <h4 for="series">Danh sách seri máy đã qua sửa chữa:</h4>
                <div class="d-flex flex-row flex-wrap justify-content-start row seriesFixedDiv">
                    <th:block th:each="seri : ${equipment.getEquipmentSerieFixedList}">
                        <div class="inputseri d-flex flex-row flex-wrap justify-content-start">
                            <input type="search" class="form-control m-3 col-sm-6" id="seriesfixed" name="seriesfixed" required
                                   th:value="${seri}" style="font-weight: bold">
                            <button type="button" class="btnremove btn btn-primary my-3 col-sm-2" onclick="removeSeri(this)"> <i class="fa fa-times-circle"></i>  </button>
                        </div>
                    </th:block>
                    <button type="button" class="btn btn-primary m-3" onclick="addInputseriesfixed(this)"> <i class="fa fa-plus-circle"></i> </button>
                </div>
            </div>
            <style>
                .inputseri:hover {
                    box-shadow: -1.5em 0 5px 2px rgba(0, 0, 125, 0.2);
                }
            </style>
            <button type="submit" class="btn btn-primary" id="submitButton">Sửa</button>
        </form>
    </div>

    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script th:src="@{/js/equipment-edit-form.js}"></script>
</equipment-edit-form>
</body>
</html>
